//
//  Secrets.xcconfig
//  HongikYeolgong2
//
//  Created by 권석기 on 10/13/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BASE_URL = http:/$()/13.125.247.77/api/v1
//BASE_URL = https:/$()/hongikyeolgong2.site/api/v1
ROOM_STATUS_URL=http:/$()/203.249.65.81/RoomStatus.aspx
NOTICE_URL=https:/$()/url.kr/elogg8
QNA_URL=https:/$()/forms.gle/J1CtFrySdwTYcixk9
APPLEID_API_URL=https:/$()/appleid.apple.com/auth
TEAM_ID=P4D4ZQC4YF
SERVICE_ID=843UNB7W58
AMPLITUDE_KEY=0526797f0d4bc01767a60f91efa9af09
APPLE_ID=6505141926
TEST_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJpZCI6MSwicm9sZSI6IlVTRVIiLCJpYXQiOjE3MzI3MDI2NjcsImV4cCI6MTczNTI5NDY2N30.jl8pBHAyoETvVeng3J8tSIoi1mlm_sE0g8UXcmUUU4U
META_APP_ID = 1173013900947572
